name: App CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - "app/**"
      - ".github/workflows/app-ci.yml"
  pull_request:
    paths:
      - "app/**"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show app folder
        run: |
          pwd
          ls -la
          ls -la app || true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build (no push)
        run: docker build -t app-ci-test -f app/Dockerfile app
